<div class="container">
  <form #f="ngForm" autocomplete="off" (submit)="save(f)" >
    <div class="ui-g">
       <div class="ui-g-12">
         <h1>Cadastro Produto</h1>
       </div>

       <div class="ui-g-12 ui-fluid">
         <label>Nome</label>
         <input  pInputText type="text" required minlength="3" name="name" [(ngModel)]="product.name" >
       </div>

       <div class="ui-g-12 ui-fluid ui-md-12" >
         <label>Valor</label>
         <input pInputText type="text" placeholder="0,00"
         name="value" currencyMask [options]="{prefix: 'R$ ', thousands: '.', decimal:',' , 'allowNegative': false}"
         [(ngModel)]="product.value" required>
       </div>

       <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <textarea pInputTextarea rows="3" minlength="5" maxlength="199" name="description" [(ngModel)]="product.description" required></textarea>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="productTypes" placeholder="Selecione" name="productType" required [filter]="true"
          [(ngModel)]="product.type.idProductType"></p-dropdown>
      </div>

       <div class="ui-g-12">
         <button pButton label="Salvar" type="submit" [disabled]="!f.valid" ></button>
       </div>
     </div>

   </form>
 </div>
